/* Import the fonts*/
@font-face {
  font-family: '8bitsFont';
  src: url('fonts/8-BIT\ WONDER.WOFF') format('woff');
}

body {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  zoom: 80%;
}

#board {
  background: url(../Space-Game/images/faparLogo.png);
  background-size: 1024px 1024px;
}

#overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2; /*appears above the game*/
}

#popup {
  display: none;
  position: fixed;
  width: 500px;
  height: 400px;
  background: rgba(128, 128, 128, 0.7);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3; /*appears above the overlay*/
  font-family: '8bitsFont', sans-serif;
}

/* Estilo dos botões */
.popup-btn {
  margin-top: 50px;
  margin-right: 10px;
  margin-left: 10px;
  font-family: '8bitsFont', sans-serif;
  font-size: large;
  height: 8%;
  width: 40%;
  border-radius: 10%;
}

#title{
  margin-top: 20%;
  font-family: '8bitsFont', sans-serif;
  font-size: 3rem;
  color: white;
}